@font-face {
  font-family: "Minicomputer";
  src: url("../fonts/Minicomputer-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minicomputer";
  src: url("../fonts/Minicomputer-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --amarelo: #eefa45;
  --verde-cor-3: #133842;
  --verde-cor-2: #0a3041;
  --branco-fundo: #efefef;
  --branco-padrao: #ffffff;
  --fonte-titulo: "Minicomputer";
  --fonte-texto: "Space Grotesk", sans-serif;
}

main {
  height: auto;
}

.banner1 {
  position: relative;
  min-height: 85vh;
  height: 933px;
  background-image: url("../img/fundo\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}

.banner2 {
  min-height: 125vh;
  background-image: url("../img/fundo\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 0;
}

.mensagem-1 {
  margin: 300px 0 0 0;
  color: #fff;
  font-family: var(--fonte-texto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10.8px;
}

.subtitulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(32% + 16px); 
  margin: 0;
  color: #fff;
  font-family: var(--fonte-texto);
  font-size: 28px; 
  font-weight: 500;
  text-align: center;
}


.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32%;
  background-color: var(--verde-cor-2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 137px;
  padding: 36px 106px;
  box-sizing: border-box;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column; 
  gap: 8px;
}

.container > div p {
  position: static;           
  margin: 0 0 8px 0;         
  color: #fff; 
  font-family: var(--fonte-texto);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  pointer-events: auto;
}

.container img {
  display: block;
  width: auto;
  max-height: 204px;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}



